PORT=3000
NODE_ENV=development
JWT_SECRET=REMPLACER_PAR_SECRET_SECURISE_32CHARS_MIN

# Database
DB_HOST=localhost
DB_NAME=payment_saas
DB_USER=postgres
DB_PASSWORD=REMPLACER_PAR_MOT_DE_PASSE

# URLs
BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000

# MeSomb
MESOMB_APP_KEY=REMPLACER_PAR_CLEF_REELLE
MESOMB_API_KEY=REMPLACER_PAR_CLEF_REELLE
MESOMB_SECRET_KEY=REMPLACER_PAR_CLEF_REELLE
INTERNAL_WEBHOOK_SECRET=REMPLACER_PAR_SECRET_WEBHOOK

MIN_AMOUNT=10000
